#burgerButton{
-fx-background-image: url('/burgerWhite.png');
  -fx-background-repeat: no-repeat;
  -fx-background-position: center;
  -fx-focus-color: transparent;
  -fx-faint-focus-color: transparent;
}
#burgerButton:hover{
    -fx-background-image: url('burgerWhiteHover.png');
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}
#game:hover{
    -fx-background-color: #1b1918;
}
.menuButton .label{
    -fx-text-fill: #bbbab9;
    -fx-font-size: 1.25em;
    -fx-alignment: center;
    -fx-padding: 0.333333em 2em 0.666667em 0.083333em; /* 4 1 8 1 */
}
.context-menu {
    -fx-background-color: #272522;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 0 6 6, 0 0 5 5, 0 0 4 4;
    -fx-padding: 0.333333em 0.083333em 0.366667em 0.083333em; /* 4 1 8 1 */
}
.list-cell:even{
    -fx-background-color: #302e2b;
    -fx-text-fill: #adb3af;
    -fx-font-size: 1.5em;
    -fx-cell-size: 36;
}
.list-cell:odd{
    -fx-background-color: #262521;
    -fx-text-fill: #adb3af;
    -fx-font-size: 1.5em;
    -fx-cell-size: 36;
}